

@import "tailwindcss";@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 @import "tailwindcss";
  @theme 
  { /* Cores do tema */
     --color-primary-500: #37E359;
     
     --color-primary-600: #2BC348; 
     
     --color-primary-700: #228a36; 

     --color-gray-950: #0B1017; 
     /* background */ 
     --color-gray-900: #0E141D; 
     /* card */
      --color-gray-800: #141F2B; 
      /* lighter */ 
      --color-gray-700: #1A2B3E; 
      /* border */
       --color-gray-400: #94A3B8; 
       /* text-muted */
        --color-gray-50: #FFFFFF;
         /* text */ 
         --color-red-500: #FF5873; 
         /* danger */ 
         --color-green-500: #37E359;
          /* success */
           --color-yellow-500: #F9CA24; 
           /* warning */ /* Fontes */ 
           --font-sans: Inter, system-ui, sans-serif; 
        } 

        body{ 
            @apply bg-gray-950 text-gray-50 min-h-screen font-sans 
        } 
        .container-app{
             @apply max-w-7xl mx-auto px-4; 
            }

            @keyframes glow{
                0%{
                  box-shadow: 0 0 5px rgba(55, 277, 89, 0.3);
                }
                100%{
                     box-shadow: 0 0 5px rgba(55, 277, 89, 0.7);
                }
            }
            .glow{
                animation: glow 2s ease-in-out infinite alternate;
            }


